.main .container .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main .container .wrapper.active{
    border: none;
}

.main .container .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container .wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .container .wrapper .content .icon{
    font-size: 100px;
    color: #c2cdda;
    margin-left: 20px;
}

.main .container .wrapper .content .text{
    font-size: 20px;
    font-weight: 500;
    color: #c2cdda;
}

.main .container .wrapper #cancel-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    display: none;
}

.main .container .wrapper.active:hover #cancel-btn{
    display: block;
}

.main .container .wrapper #cancel-btn:hover{
    color: #e74c3c;
}

.main .container .wrapper .file-name{
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size: 18px;
    display: none;
    background-image: linear-gradient(135deg, #424242 0%, #777777 100%);
}

.main .container .wrapper.active:hover .file-name{
    display: block;
}
