/* body {
    background-color: #F7E7CE;
    margin: 0;
    padding: 0;
    font-family: bahnschrift;
}

.header{
    background-color: #588157;
    color: #1D201F;
    width: 100%;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    box-shadow: 0px 4px 2px #1D201F;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.header h1{
    margin-left: 10px;
    order: 1;
}

.header p{
    margin-left: 10px;
    order: 2;
}

.header .menu{
    margin-left : 500px;
    order: 3;
}

.header .menu a{
    color: #1D201F;
    text-decoration: none;
    margin : 10px;
    order: 3;
}

.header .menu a:hover{
    color: #F7E7CE;
}

.main {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main .dataset {
    color: #1D201F;
    width: 45%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .dataset .select_dataset input{
    display: none;
}

.main .dataset .select_dataset label{
    display: inline-block;
    color: #1D201F;
    background-color: #8A8477;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
}



.main .container{
    height: 350px;
    width: 430px;
    position: relative;
    margin-left: 150px;
    margin-top: 80px;
}

.main .container h2{
    margin-left: 146px;
    color: #1D201F;
} */

.main .container .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main .container .wrapper.active{
    border: none;
}

.main .container .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container .wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .container .wrapper .content .icon{
    font-size: 100px;
    color: #c2cdda;
    margin-left: 20px;
}

.main .container .wrapper .content .text{
    font-size: 20px;
    font-weight: 500;
    color: #c2cdda;
}

.main .container .wrapper #cancel-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    display: none;
}

.main .container .wrapper.active:hover #cancel-btn{
    display: block;
}

.main .container .wrapper #cancel-btn:hover{
    color: #e74c3c;
}

.main .container .wrapper .file-name{
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size: 18px;
    display: none;
    background-image: linear-gradient(135deg, #424242 0%, #777777 100%);
}

.main .container .wrapper.active:hover .file-name{
    display: block;
}
/* 
.main .container #custom-btn{
    margin-top: 30px;
    width: 100%;    
    height: 50px;
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg, #424242 0%, #777777 100%);
}

.main .search{
    color: #1D201F;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -320px;
    margin-top: -50px;
    text-align: center;
}

.main .search .type_search{
    margin-top: -250px;
}

.main .search .type_search input{
    display: none;
}

.main .search .type_search input + label{
    display: inline-block;
    height: 30px;
    width: 100px;
    position: relative;
    font-size: 10px;
    border: 4px solid #1D201F;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.main .search .type_search input + label:before{
    position: absolute;
    top: 1.5px;
    height: 20px;
    width: 20px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
    border-radius: 100%;
}

.main .search .type_search input + label:after{
    width: 70px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 45%;
    transform: translateY(-30%);
    text-overflow: ellipsis;
    overflow: hidden;
}

.main .search .type_search input:not(:checked) + label{
    background-color: transparent;
    text-align: right;
}

.main .search .type_search input:not(:checked) + label:after{
    content: attr(textures);
    right: 0;
    left: auto;
    opacity: 1;
    color: black;
}

.main .search .type_search input:not(:checked) + label:before{
    left: 4px;
    background-color: #1D201F;

}

.main .search .type_search input:checked + label{
    text-align: left;
    border-color: #588157
}

.main .search .type_search input:checked + label:after{
    content: attr(colors);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #588157;
}

.main .search .type_search input:checked + label:before{
    left: 68px;
    background-color: #588157;
}

.main .search .select_search{
    margin-top: 20px;
}

.main .result .header_result{
    margin-left: 10px;
    margin-right: 500px;
    margin-top: -150px;
}

.main .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    background-color: #FFF;
}
  
.main .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.main .pagination a.active {
    background-color: #1D201F;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.tag{
    margin: 20px;
    margin-top: 300px;
    font-size: 15px;
    text-align: justify;
    scroll-snap-type: y mandatory;
}

.tag .HOW{
    top: 0px;
}

.tag .BASIC p{
    text-indent: 20px;
}

.image-result{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

} */
